@{
    ViewBag.Title = "Home Page";
}

<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(Pictures/cover.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-pull-3 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <p class="meta">
                                        <span class="cat">
                                            @Html.ActionLink("Events", "how-technology-is-going-over-everything", "Blog")
                                        </span>
                                        <span class="date">21 June 2018</span>
                                        <span class="pos">
                                            By @Html.ActionLink("Foyaz", "About", "Home")
                                        </span>
                                    </p>
                                    <h1>How technology is going over Everything!</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(Pictures/cover2.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-pull-3 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <p class="meta">
                                        <span class="cat">@Html.ActionLink("Events", "everything-is-calculated-programmed", "Blog")</span>
                                        <span class="date">02 July 2018</span>
                                        <span class="pos">By @Html.ActionLink("Foyaz", "About", "Home")</span>
                                    </p>
                                    <h1>Everything is Calculated(!) / Programmed?</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(Pictures/cover3.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-pull-3 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <p class="meta">
                                        <span class="cat">@Html.ActionLink("Events", "how-drones-are-becoming-famous", "Blog")</span>
                                        <span class="date">04 August 2018</span>
                                        <span class="pos">By @Html.ActionLink("Foyaz", "About", "Home")</span>
                                    </p>
                                    <h1>How Drones are becoming famous!</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(Pictures/cover4.jpg);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-pull-3 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <p class="meta">
                                        <span class="cat">@Html.ActionLink("Events", "how-people-are-more-dependent-on-technologies-than-ever", "Blog")</span>
                                        <span class="date">10 September 2018</span>
                                        <span class="pos">By @Html.ActionLink("Foyaz", "About", "Home")</span>
                                    </p>
                                    <h1>How people are more dependent on technologies than ever!</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="colorlib-instagram">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 colorlib-heading text-center">
                <br>
                <br>
                <h2>TOP TECHNOLOGY BLOGS ON THE INTERNET TODAY | TECHNOLOGY WEBSITES</h2>
            </div>
        </div>
        <div class="row">
            <div class="instagram-entry">
                <a href="https://techcrunch.com/" class="instagram text-center" style="background-image: url(Pictures/link1.png);">
                    <strong><b>Tech Crunch</b></strong>
                </a>
                <a href="http://mashable.com/" class="instagram text-center" style="background-image: url(Pictures/link2.png);">
                    <strong> Mashable </strong>
                </a>
                <a href="https://www.technologyreview.com/" class="instagram text-center" style="background-image: url(Pictures/link3.png);">
                    <strong> Technology Review</strong>
                </a>
                <a href="http://readwrite.com/" class="instagram text-center" style="background-image: url(Pictures/link4.png);">
                    <strong>Read Write</strong>
                </a>
                <a href="https://venturebeat.com/" class="instagram text-center" style="background-image: url(Pictures/link5.png);">
                    <strong> Venture Beat</strong>
                </a>
                <a href="http://www.freetech4teachers.com/" class="instagram text-center" style="background-image: url(Pictures/link6.png);">
                    <strong> Free Tech For Teachers</strong>
                </a>
                <a href="http://www.makeuseof.com/" class="instagram text-center" style="background-image: url(Pictures/link7.png);">
                    <strong>Make Use Of</strong>
                </a>
                <a href="https://www.cnet.com/news/" class="instagram text-center" style="background-image: url(Pictures/link1.png);">
                    <strong>CNet</strong>
                </a>
            </div>
        </div>
    </div>

</aside>